
"Assets/TextMesh Pro/**" linguist-vendored
"Assets/Plugins/**" linguist-vendored


*.shader linguist-vendored
*.hlsl linguist-vendored
*.cginc linguist-vendored
*.cg linguist-vendored


*.meta linguist-documentation